@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <ol>
            <li><a href="@Url.Action("Satu")">No 1</a></li>
            <li><a href="@Url.Action("Dua")">No 2</a></li>
        </ol>
    </div>

</div>